body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    align: center;
}
#leftside {
    padding:20px;
    position:relative;
    float:left;
    width: 200px;
    border-right: 1px solid blue;

}
#rightside {
    position:relative;
    float:left;
}
