<div class="container">
    <div id="leftside">
        <h1>Ask me.</h1>
        <h2>I know geek stuff.</h2>
    </div>
    <div id="rightside">
        <%= form_for(@manual) do |f| %>
            <%= f.text_field :svalue %>
            <%= f.submit "Search" %>
        <% end %>
    </div>
</div>
